{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

{% block body %}

    <table style="width:100%">
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price per share </th>
        <th>Transaction Type </th>
        <th>Transaction Time </th>
      </tr>

        {%- for row in rows %}
        <tr>
     <td> {{row.company_name }}</td>
     <td> {{row.number_of_stocks}}  </td>
     <td> {{ row.price | usd}}</td>
     <td> {{ row.transaction_type}}  </td>
     <td> {{ row.timestamp}}  </td>
        </tr>
        {%- endfor %}

    </table>

{% endblock %}

{% endblock %}
